$font-nunito: 'Nunito', sans-serif;
$font-game: 'Press Start 2P', cursive;
$color-html: #E34C26;
$color-css: #264DE4;
$color-js: #F0DB4F;
$color-react: #61DBFB;
$color-sass: #CF649A;
$color-bordes: #0dcaf0;
$color-bootstrap: #6F10F4;
$color-git: #F44D27;
$color-white: #fff;